.news_detail {
  padding: 95px 0 0;

  h2 {
    @media only screen and (max-width: 550px) {
      margin-bottom: 0;
    }
  }

  &__head {
    margin: 60px auto;
    p {
      font-size: 24px;
      color: #183f5b;
      @media only screen and (max-width: 550px) {
        font-size: 16px;
      }
    }
  }

  &__swiper_wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

    @media only screen and (max-width: 550px) {
      margin-bottom: 0;
    }

    --swiper-navigation-color: #fff;
    --swiper-theme-color: #fff;

    & > div:first-child {
      position: static !important;

      & > div:last-child {
        height: unset;

        div {
          height: unset;
        }
      }
    }
  }

  &__swiper_img {
    width: 100% !important;
    height: 420px !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media only screen and (max-width: 963px) {
      height: 200px !important;
    }
  }

  &__description {
    font-size: 24px;
    line-height: 28px;
    white-space: pre-line;
    color: #183f5b;
    @media only screen and (max-width: 550px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
