.main {
  padding: 95px 0 0;

  .head {
    padding: 3.2rem 0 0;

    p {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #183f5b;

      @media only screen and (max-width: 550px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .normativeBase {
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    padding: 0;
    margin: 5rem 0 0;
  }
}

.Pagination {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
}
