.container {
  &__rubrics {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-gap: 21px;

    @media only screen and (min-width: 756px) {
      grid-template: auto auto / repeat(2, 1fr);
      grid-template-areas:
        "first second"
        "centered centered";
    }
    @media only screen and (min-width: 1080px) {
      grid-template: 1fr / repeat(3, 1fr);
    }

    &__col {
      display: grid;
      grid-gap: 21px;

      div {
        cursor: pointer;
      }

      @media only screen and (min-width: 786px) and (max-width: 1080px) {
        &:nth-child(1) {
          grid-area: first;
        }
        &:nth-child(2) {
          grid-area: second;
        }
        &:last-child {
          grid-area: centered;
          grid-template: 1fr auto / 1fr 1fr;

          & > div:first-child {
            img {
              object-fit: cover !important;
              object-position: -15px 0;
            }
          }

          & > div:last-child {
            img {
              object-fit: cover !important;
              border-radius: 10px !important;
            }
          }
        }
      }
    }
  }
}
