.container {
  width: 73% !important;

  margin-right: 20px;

  @media only screen and (max-width: 1080px) {
    width: auto !important;
    margin-right: 0;
  }

  .Btn {
    margin: 50px auto 0;
    display: block;
    width: 180px;
  }
}
