@import "styles/_variables.scss";

.mapInfo {
  background: #f7f7f7;
  box-shadow: $base-shadow;
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  height: auto;
  margin-left: 18px;

  @media only screen and (max-width: 763px) {
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
    padding: 15px;
  }

  h4 {
    margin-bottom: 28px;
    text-align: center;
    font-size: 18px;
    color: #5b58ad;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0 !important;
      }

      p {
        &:first-child {
          color: #5b58ad;
          font-weight: bold;
        }
        margin-bottom: 0;
      }

      a {
        color: #0085ff !important;
      }
    }
  }
}

.mapSize {
  width: 903px;
  height: 482px;
  @media only screen and (max-width: 992px) {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  path {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
