.DesktopCalendar {
  width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1080px) {
    display: none;
  }
}

.MobileDesktop {
  display: none;
  @media only screen and (max-width: 1080px) {
    display: flex;
    align-items: center;
    position: absolute;
    //width: 50%;
    left: 20px;
    top: 120px;
    grid-gap: 10px;
  }
}

.calendar__remove{
  background: #0094ff;
  border-radius: 5px;
  color: #fff;
  padding: 7px 20px;
}
