.DesktopCalendar {
  width: 320px;

  @media only screen and (max-width: 1080px) {
    display: none;
  }
}

.MobileDesktop {
  display: none;
  @media only screen and (max-width: 1080px) {
    display: block;
    position: absolute;
    width: 50%;
    left: 20px;
    top: 120px;
  }
}
