@import "../../../styles/variables";

.root {
  border-radius: 15px !important;

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }

  a {
    font-size: 13px;
    color: $link-color;
    &:hover {
      color: $base-light;
    }
  }
}

.media {
  height: 184px;

  &__description{
    height: 100px;
    *{
      display: none;
    }
    p{
      margin-bottom: 0 !important;
      display: none;
      &:first-child{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }
}
