@import "../../../../styles/variables";

.root {
  border-radius: 15px !important;

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }

  a {
    font-size: 13px;
    color: $link-color;
    &:hover {
      color: $base-light;
    }
  }
}

.media {
  height: 184px;
}
