@import "styles/variables";

.footer {
  margin: 5rem 0 0;

  nav {
    padding: 3.7rem;
    grid-gap: 1.5rem;
    background-color: #010b1f;
    color: #ffffff;

    a {
      font-size: 1.125rem;
    }

    .social_icons {
      grid-gap: 1.5rem;
    }
  }

  &__cont_wrapper {
    padding: 4rem;
    background: rgba(24, 63, 91, 1);
  }

  &__hero {
    display: flex;
    align-items: center;
    padding-left: 20px;

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 1.75rem;
      line-height: 2rem;
      color: #ffffff;

      @media only screen and (max-width: 450px) {
        max-width: 80%;
      }

      @media only screen and (max-width: 756px) {
        margin-left: 0 !important;
        margin-top: 30px;
        text-align: center;
        max-width: 320px;
      }
    }

    @media only screen and (max-width: 756px) {
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 30px;
    }
  }
  &__contacts {
    display: grid;
    padding: 5.3rem 0;
    grid-row-gap: 5rem;
    grid-column-gap: 2.25rem;

    @media only screen and (min-width: 450px) {
      grid-template: 0.25fr 0.5fr 1fr / repeat(2, 0.75fr);
    }

    @media only screen and (min-width: 756px) {
      justify-content: space-between;
      grid-template: 0.25fr 0.5fr 1fr / repeat(3, 0.75fr);
    }

    @media only screen and (min-width: 1050px) {
      grid-template: 0.25fr / repeat(3, 1fr);
      grid-row-gap: 4rem;
    }
    @media only screen and (min-width: 1250px) {
      grid-template: 0.2fr / repeat(5, 1fr);
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        max-width: 250px;
        margin-top: 20px;
        @media only screen and (min-width: 1250px) {
          margin-top: 30px;
        }
      }
    }

    p,
    a {
      margin: 0;
      max-width: 180px;
      text-align: center;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
    }

    a:hover {
      color: $link-color;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    color: #ffffff;
    background-color: #010b1f;
    padding: 2.5rem 20px;
    p {
      text-align: center;
      margin-bottom: 0 !important;
      @media only screen and (max-width: 756px) {
        max-width: 80%;
      }
    }
  }
}
