@import "styles/_variables.scss";

.Nav {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #010b1f;
  padding: 0 15px;
  position: fixed;
  z-index: 1000;

  @media only screen and (max-width: 963px) {
    height: 50px;
  }

  .DesktopNavList {
    @media only screen and (max-width: 963px) {
      display: none;
    }
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 911px;
    margin-bottom: 0;

    li {
      font-size: 18px;
      font-weight: normal;
      color: #fff;
    }
  }

  .BurgerMenuBtn {
    display: none;
    width: 30px;
    height: 20px;
    cursor: pointer;

    @media only screen and (max-width: 963px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      right: 15px;
    }

    span {
      box-shadow: $base-shadow;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 300ms ease;
      transform: translateX(0);
    }
  }

  .BurgerMenuBtnActive {
    span {
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -7px);
      }
    }
  }

  .MobileNavList {
    box-shadow: $base-shadow;
    @media only screen and (min-width: 963px) {
      transform: translateX(100%);
    }
    background-color: #fff;
    display: flex;
    padding: 20px;
    border: 2px solid $base-dark;
    position: absolute;
    right: -10px;
    transform: translateX(100%);
    top: 70px;
    flex-direction: column;
    transition: transform 100ms ease-in;

    li {
      font-size: 13px;
      margin-bottom: 10px;
      color: $base-light;
    }
  }

  .MobileNavListActive {
    transform: translateX(0%) !important;
    right: 10px !important;
  }
}
